<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <!-- Açıklama satırı-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,683;1,683&display=swap" rel="stylesheet">


    <script src="/js/quiz.js" type="text/javascript"></script>

    <link rel="stylesheet" href="/css/quiz.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=GFS+Didot&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>

    <div id="title-hidden" class="title-desc">
        <div style="padding-bottom: 20px;">
            <span style="font-size:30px;">Merhaba <%= name %></span>
            <input  name="kullanici_id" type="hidden" value="<%= kullanici_id %>">
        </div>
        
            <div style="padding: 20px;">
            <h6 >Test iki bölümden oluşmaktadır , 10 soru çift cevaplı ve 10 soru <span style="color:purple;">Evet</span>/<span style="color:green">Hayır</span></h5>
                <hr>
            <h6>Lütfen çift cevaplı soruların cevaplarının ikisini de paunlayın , toplamları sekizi geçmemeli</h5>
                <hr>
            <h6>1 beni hiç yansıtmıyor , 7 tamamen beni yansıtıyor</h5>
            </div>
        </div>
    <div class="viewBox">
       
        <div class="view">
            <svg  viewBox="0 0 500 120" preserveAspectRatio="xMinYMin meet">
                <path d="M0,120 L110,105 220,114 L300,110 400,120 L500,108 500,120 L500,0 L0,0 Z" style="stroke: none; fill:#33a474;"></path>
            </svg>
        </div>
        <div class="title-desc">
            <div style="padding-bottom: 20px;">
            <span >Merhaba <%= name %></span>
            <input  name="kullanici_id" type="hidden" value="<%= kullanici_id %>">
        </div>
        
            <h5>Test iki bölümden oluşmaktadır , 10 soru çift cevaplı ve 10 soru Evet/Hayır</h5>
            <h5>Lütfen çift cevaplı soruların cevaplarının ikisini de paunlayın , toplamları sekizi geçmemeli</h5>
            <h5>1 beni hiç yansıtmıyor , 7 tamamen beni yansıtıyor</h5>
        </div>
        <div class="desc" id="first-desc">
            <div>
                <img src="/images/son.png" alt="Resim" width="250px" height="250px">
            </div>
            <div>
                <span>Çift cevaplı soruların cevaplarına tıklayıp 1 ve 7 arasında puanlayın</span>
            </div>
        </div>
        <div class="desc" id="second-desc">
            <div>
                <img src="/images/EH-son.png" alt="Resim" width="250px" height="250px">
            </div>
            <div>
                <span>Evet hayır sorularını üzerlerine tıklayarak cevaplayabilirsiniz</span>
            </div>
        </div>
    </div>
    
    
       
    <div class="main-class">
        <div class="container">
            <% sorularCevaplar.forEach((soru, index) => { %>
                 
                
            <div class="main-content">
                <div class="board">
                    <form method="post" name="<%= kullanici_id %>" id="form<%= index %>" class="form">
                    <div class="question">
                        <span id="s-question"><%= soru.soru %></span>
                    </div>
                    <div id="board-<%= index %>" class="answers-class">
                        <div class="answer-container">
                        <div class="ans-1">
                            <div class="answer-question">
                                <span><a style="color:rgb(55, 54, 54);text-decoration:none;font-size: 19px;" class="aTag">
                                    <span class="q-span"><%= soru.secenek1 %></span>
                                      </a>
                                </span>
                            </div>
                            <div class="answer-radio-1">
                                <input type="radio" id="a-1-<%= index %>" name="a-<%= index %>" value="1">
                                <label class="ans-low-1-def" for="a-1-<%= index %>"></label>
                            
                                <input type="radio" id="a-2-<%= index %>" name="a-<%= index %>" value="2">
                                <label class="ans-low-2-def" for="a-2-<%= index %>"></label>
                            
                                <input type="radio" id="a-3-<%= index %>" name="a-<%= index %>" value="3">
                                <label class="ans-low-3-def" for="a-3-<%= index %>"></label>
                            
                                <input type="radio" id="a-4-<%= index %>" name="a-<%= index %>" value="4">
                                <label class="ans-mid-def" for="a-4-<%= index %>"></label>
                            
                                <input type="radio" id="a-5-<%= index %>" name="a-<%= index %>" value="5">
                                <label class="ans-high-1-def" for="a-5-<%= index %>"></label>
                            
                                <input type="radio" id="a-6-<%= index %>" name="a-<%= index %>" value="6">
                                <label class="ans-high-2-def" for="a-6-<%= index %>"></label>
                            
                                <input type="radio" id="a-7-<%= index %>" name="a-<%= index %>" value="7">
                                <label class="ans-high-3-def" for="a-7-<%= index %>"></label>
                            </div>
                        </div>
                    </div>
                    <div class="answer-container">
                        <div class="ans-2">
                            <div class="answer-question-1">
                                <span><a class="bTag" style="color:rgb(55, 54, 54);text-decoration:none;font-size:19px;">
                                    <span class="q-span"><%= soru.secenek2 %></span>
                                </a></span>
                            </div>
                            <div class="answer-radio-2">
                                <input type="radio" id="b-1-<%= index %>" name="b-<%= index %>" value="1">
                                <label class="ans-low-1-def" for="b-1-<%= index %>"></label>
                            
                                <input type="radio" id="b-2-<%= index %>" name="b-<%= index %>" value="2">
                                <label class="ans-low-2-def" for="b-2-<%= index %>"></label>
                            
                                <input type="radio" id="b-3-<%= index %>" name="b-<%= index %>" value="3">
                                <label class="ans-low-3-def" for="b-3-<%= index %>"></label>
                            
                                <input type="radio" id="b-4-<%= index %>" name="b-<%= index %>" value="4">
                                <label class="ans-mid-def" for="b-4-<%= index %>"></label>
                            
                                <input type="radio" id="b-5-<%= index %>" name="b-<%= index %>" value="5">
                                <label class="ans-high-1-def" for="b-5-<%= index %>"></label>
                            
                                <input type="radio" id="b-6-<%= index %>" name="b-<%= index %>" value="6">
                                <label class="ans-high-2-def" for="b-6-<%= index %>"></label>
                            
                                <input type="radio" id="b-7-<%= index %>" name="b-<%= index %>" value="7">
                                <label class="ans-high-3-def" for="b-7-<%= index %>"></label>
                            </div>
                        </div>
                    </div>
                    </div> 
                    </form>
                </div>
            </div>
            <hr>
            <% }); %>
            <% evet_hayir.forEach((ques,index)=> { %>
                <div class="main-content">
                    <div class="board">
                        <form method="post" id="form2<%= index %>" class="form2">
                            <div class="question">
                                <span id="s-question"><%=ques.bsoru%></span>
                            </div>
                            <div class="answers-class-y">
                                <div id="ans-1" class="special-radio1">
                                    <input type="radio" id="y-<%= index %>" name="e-<%= index %>" value="Evet">
                                    <label class="label-yes" for="y-<%= index %>">Evet</label>
                                </div>
                                <div id="ans-2" class="special-radio2">
                                    <input type="radio" id="n-<%= index %>" name="e-<%= index %>" value="Hayır">
                                    <label class="label-no" for="n-<%= index %>">Hayır</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
            <% }) %>
            
            <button  id="insert_btn">Kaydet</button>
          <script src="/js/quiz-post.js" type="text/javascript"></script> 
        </div>
    </div>
    <div id="id01" class="modal">
  
        <form class="modal-content animate" style="width:40%;" action="/">
          <div class="imgcontainer">
             <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-symmetry-vertical" viewBox="0 0 16 16">
                <path d="M7 2.5a.5.5 0 0 0-.939-.24l-6 11A.5.5 0 0 0 .5 14h6a.5.5 0 0 0 .5-.5zm2.376-.484a.5.5 0 0 1 .563.245l6 11A.5.5 0 0 1 15.5 14h-6a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .376-.484M10 4.46V13h4.658z"/>
              </svg>
              
          </div>
      
          <div class="container" align="center" style="padding-top:5px; padding-bottom: 10;">
            <label style="margin-top: 5px;">Test başarıyla tamamlandı</label><br>
            <button style="width:100px;">Tamam</button>
           
          </div>

          
      
          
        </form>
      </div>
      <div id="id02" class="modal">
  
        <form class="modal-content animate" style="width:40%;" >
          <div class="imgcontainer">
            <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
             <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-symmetry-vertical" viewBox="0 0 16 16">
                <path d="M7 2.5a.5.5 0 0 0-.939-.24l-6 11A.5.5 0 0 0 .5 14h6a.5.5 0 0 0 .5-.5zm2.376-.484a.5.5 0 0 1 .563.245l6 11A.5.5 0 0 1 15.5 14h-6a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .376-.484M10 4.46V13h4.658z"/>
              </svg>
              
          </div>
      
          <div class="container" align="center" style="padding-top:5px; padding-bottom: 10;">
            <label style="margin-top: 5px;">Lütfen tüm soruları cevaplayınız</label><br>
            
           
          </div>

          
      
          
        </form>
      </div>

</body>
</html>
