<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Paneli - Öğretmen Adayı Psikolojik Analiz Raporları</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/test.css">
  <style>
    @media (max-width: 400px) {
      .table-responsive-sm {
        overflow-x: auto;
      }
    }
  </style>
</head>
<body>
  <header>
    <span id="logo">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-symmetry-vertical logo" viewBox="0 0 16 16">
        <path d="M7 2.5a.5.5 0 0 0-.939-.24l-6 11A.5.5 0 0 0 .5 14h6a.5.5 0 0 0 .5-.5zm2.376-.484a.5.5 0 0 1 .563.245l6 11A.5.5 0 0 1 15.5 14h-6a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .376-.484M10 4.46V13h4.658z"/>
      </svg>
    </span>
   
    <span>MİRROR</span>
 
    <h1 class="text-center mb-5 mt-5">Öğretmen Adayı Psikanaliz Raporları</h1>
    <hr style="color: rgb(0, 0, 0); height: 2px;margin: 5px 20%;color: #0d6efd;">
  </header>

<!-- Bildirimler -->
<div class="container mt-5">
  <div class="row">
      <div class="col" style="border: 2px solid #0d6efd; border-radius: 30px; padding: 15px;">
      
         <h2 class="text-center mb-4"> Bildirimler
          <span><svg xmlns="http://www.w3.org/2000/svg" width="25" height="50" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
          </svg></span> 
         </h2>
          <ul class="list-group" id="notificationList">
              <!-- Bildirimler buraya gelecek -->
              <li style="color:black;" class="list-group-item">Yeni bir rapor eklendi - Rapor No: 0004</li>
          </ul>
      </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col d-flex justify-content-end align-items-center">
      <div class="text-center text-md-start dashboardbox" style="margin-right: 20px;">
        <h4>Toplam Rapor Sayısı</h4>
        <p align="center" style="font-size:20px; font-weight:700;"><%= aday.length %></p>
      </div>
    </div>
    <div class="col d-flex justify-content-start align-items-center">
      <div class="text-center text-md-start dashboardbox" style="margin-left: 20px;">
        <h4>En Son Eklenen Rapor</h4>
        <p>Öğretmen Ad / Rapor Tarih</p>
      </div>
    </div>
  </div>
</div>


  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col" style="border: 2px solid #0d6efd; border-radius: 30px; padding: 15px;">
        <h2 class="text-center mb-4">Rapor Listesi</h2>
        <button class="filter-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#raporDetayModal">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">
            <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"/>
          </svg>
          Filtrele</button>
    
          <form action="/filter" method="post">
          <div class="topnav">
            <div class="search-container">
              
                <input style="color:black; width:20%;" class="form-control" type="text" placeholder="İsim ile arayın" name="aday_name">
                <button type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg>
                </button>
              
            </div>
          </div>
          
        </form>
      
        <div class="table-responsive-sm">
          <table class="table table-hover table-light mt-5">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Rapor No</th>
                <th scope="col">Öğretmen Ad</th>
                <th scope="col">Brans</th>
                <th scope="col">Rapor Tarih</th>
                <th scope="col">Rapor Detay</th>
                <th scope="col">Rapor İşlem</th>
              </tr>
            </thead>
            <tbody>
              <% aday.forEach((row, index) => { %>
                <tr>
                  <th scope="row"><%= index + 1 %></th>
                  <td><%= row.id %></td>
                  <td><%= row.ad %></td>
                  <td><%= row.brans %></td>
                  <td><%= row.tarih %></td>
                  <td>
                    <button class="btn btn-primary detail-btn"  name="<%= JSON.stringify(row) %>" data-bs-toggle="modal" data-bs-target="#raporModal">
                    Detay
                    </button>
                  </td>
                  
                  <td>
                    <button class="btn btn-danger">Sil</button>
                  </td>
                </tr>
              <% }) %>
            </tbody>
            
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="raporDetayModal" tabindex="-1" aria-labelledby="raporDetayModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="raporDetayModalLabel">FİLTRELE</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          
        <form class="modal-content animate" action="/filter" method="post">
            <div class="container">
              <label><b>Tarih</b></label>
                <select  style="color:black" name="date" class="form-select" aria-label="select example" id="date">
                  <option value="">Tarihe göre sırala</option>
                  <option value="1">En yakın</option>
                  <option value="2">En eski</option>
                </select>
                
                <label><b>Branş</b></label>
                <select style="color:black" name="brans" class="form-select" aria-label="select example" id="brans">
                  <option value=""><b>Branşa göre sırala</b></option>
                  <option value="1">Türkçe</option>
                  <option value="2">İlköğretim Matematik</option>
                  <option value="3">Lise Matematik</option>
                  <option value="4">Fen ve Teknoloji</option>
                  <option value="5">Sosyal Bilimler</option>
                  <option value="6">Türk Dili ve Edebiyatı</option>
                  <option value="7">Tarih</option>
                  <option value="8">Din Kültürü ve Ahlak Bilgisi</option>
                  <option value="9">Psikolojik Danışman/Rehberlik</option>
                  <option value="10">Okul Öncesi</option>
                  <option value="11">Sınıf Öğretmenliği</option>
                  <option value="12">Kimya</option>
                  <option value="13">Fizik</option>
                  <option value="14">Biyoloji</option>
                  <option value="15">Coğrafya</option>
                  <option value="16">İngilizce</option>
                  <option value="17">Almanca</option>
                </select>
                <br>
                <input type="checkbox" id="filterCheckbox" name="filterCheckbox">
                <label for="filterCheckbox">Tüm filtreleri kaldır</label><br>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Listele</button>
                  </div>
            </div>
  
            
        
            
          </form>

         
        </div>
        
      </div>
    </div>
  </div>
  <!-- Modal Detay-->
  <div class="modal fade" id="raporModal" tabindex="-1" aria-labelledby="raporDetayModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="raporDetayModalLabel">Detay</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
              <label for="ad"><b>Ad</b></label>
              <input class="form-control" type="text" name="ad" id="ad" readonly>
              <label for="eposta"><b>E posta</b></label>
              <input class="form-control" type="text" name="eposta" id="eposta" readonly>
              <label for="tel"><b>Telefon</b></label>
              <input class="form-control" type="text" name="tel" id="tel" readonly>
              <label for="brans-detail"><b>Brans</b></label>
              <input class="form-control" type="text" name="brans-detail" id="brans-detail" readonly>
              <label for="tarih"><b>Tarih</b></label>
              <input class="form-control" type="text" name="tarih" id="tarih" readonly>
          
       

         
        </div>
        
      </div>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/test.js"></script>
</body>
</html>
